.button_toggle {
  svg {
    width: 27px;
    height: 27px;
  }
}

.menu_desktop {

  display: none;

  header {

    display: none;

  }

  footer {
    display: none;

  }

  > div {


    a {
      padding: 8px 30px;

      border: 1px solid var(--bs-orange);
      border-radius: 5px;
      transition: background 0.2s;

      color: var(--bs-orange);
      font-weight: 500;
      font-size: 1rem;

      &:hover {
        background-color: var(--bs-orange);
        color: #FFFFFF;
      }

      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

.menu_mobile {
  position: fixed;
  background-color: #333333;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;

  header {
    padding: 0 1rem;
    height: 20vh;
    background-color: var(--bs-orange);

    button {
      margin-left: auto;
      margin-top: 1rem;
      display: block;

      svg {
        width: 30px;
        height: 30px;
        color: #FFFFFF;
      }
    }
  }

  div {
    padding: 1rem;
    flex: 1;
    background-color: #FFFFFF;

    a {
      padding: 5px 10px;
      display: block;
      text-align: right;
      color: #333333;

      margin-bottom: 10px;
      margin-left: auto;
    }
  }

  footer {
    padding: 0 1rem;
    height: 11vh;
    background-color: #FFFFFF;
    border-top: 2px solid var(--bs-orange);

    div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 767px) {
  .options button {
    display: none;
  }

  .menu_desktop {
    display: block;
  }
}
