*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.slogan {
    color: #000000;
}
.slogan h1{
    display: flex;
    justify-content: center;
    padding:5px;
    font-size: 2vw;
    /* color: #263238; */
    color: #000;
}

div .div-search {
    background-color:#FBC02D;
    padding: 0 100px 5px;
}

@media (max-width: 768px) {
    div .div-search {
        padding: 0 10px 5px;
    }
}