.section-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.p-form{
    padding-left: 10px;
}
.div-form{
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
}
.div-nome{
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    margin: 0;
    width: 100%;
}


.section-form > .container{
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.section-form > .container > p{
    width: 100%;
}

.div-input-hora{
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}

@media (min-width: 992px){
    .div-nome{
        width: 50% !important;
    }

    .main-reserva{
        max-width: 66.6% !important;
    }
    
}


@media (max-width: 425px){
    .div-form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .div-input-hora{
        width: 100%;
    }
}